/* controls styles and media query in section 1 */

#sess1 {
  @apply bg-[url("../img/sess1-bg-mobile.webp")] h-[75vh] w-full bg-cover bg-top bg-no-repeat lg:bg-[url("../img/sess1-bg-desktop.webp")] lg:h-[90vh] py-8 px-8;
}

.sess1_wrapper {
  @apply flex flex-col h-full w-full justify-end container mx-auto pb-12 lg:items-start;
}

.sess1_wrapper h1 {
  @apply text-3xl font-sora text-white w-full mb-8 font-bold lg:max-w-md lg:ml-16 lg:text-4xl;
}
.sess1_wrapper h1 span {
  @apply text-[#FFC700];
}
.sess1_wrapper a {
  @apply max-w-max lg:ml-16;
}

/* controls styles and media query in section 2 */
#sess2 {
  background: linear-gradient(to bottom, #0d2b62 8%, white 8%);
  padding: 32px;
  padding-top: 0;
}

.sess2__wrapper {
  @apply pt-8 pb-12 px-8 container mx-auto rounded-2xl shadow-xl bg-white flex flex-col items-center;
}
.sess2__wrapper h2 {
  @apply font-sora text-center text-[#203c89] text-2xl mb-8 lg:text-3xl;
}
.sess2__wrapper h2 span {
  @apply font-bold;
}
.sess2__content {
  @apply flex flex-col justify-center items-center gap-8 lg:flex-row;
}
.sess2__content p {
  @apply font-sora text-lg text-center w-64 h-64 pt-24 px-12;
}
.sess2__content p span {
  @apply font-bold;
}
.sess2__content p:first-child {
  @apply bg-[#ffc700] text-[#203c89] rounded-tr-xl rounded-tl-xl rounded-br-xl;
}
.sess2__content p:nth-child(2) {
  @apply bg-[#eee] text-[#203c89] rounded-tr-xl rounded-tl-xl rounded-br-xl;
}
.sess2__content p:last-child {
  @apply bg-[#203c89] text-white rounded-tr-xl rounded-tl-xl rounded-br-xl pt-16;
}

/* controls styles and media query in section 3 */
#sess3 {
  @apply container mx-auto py-8 px-8 mb-8;
}
#sess3 h2 {
  @apply font-sora text-center text-[#203c89] text-2xl mb-12 lg:text-3xl capitalize;
}
#sess3 h2 span {
  @apply font-bold;
}
.treatment__box {
  @apply font-sora text-sm font-light text-[#203c89] bg-[#eee] rounded-xl flex flex-col;
}
.treatment__box h3 {
  @apply font-semibold my-8 flex items-center px-4;
}
.treatment__box p {
  @apply text-xs px-4 pb-6 lg:max-w-md;
}
.treatment_1:before {
  content: "";
  background: url("../img/protesis.svg") center center no-repeat;
  display: block;
  width: 52px;
  height: 52px;
  margin-right: 8px;
}

.treatment_2:before {
  content: "";
  background: url("../img/ortopediatry.svg") center center no-repeat;
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.treatment_3:before {
  content: "";
  background: url("../img/ortodonty.svg") center center no-repeat;
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 8px;
}
.splide__arrow {
  @apply hidden;
}

/* controls styles and media query in section 4 */

#sess4 {
  @apply flex flex-col container mx-auto lg:flex-row pb-8;
}
.sess4__content {
  @apply pl-8 pt-8;
}
.sess4__content h2 {
  @apply font-sora font-bold text-left text-[#203c89] text-3xl mb-2 lg:text-4xl capitalize;
}
.sess4__content p {
  @apply font-sora text-sm text-left text-[#203c89];
}

.clinic3d img {
  @apply max-w-[280px] h-full object-contain self-end bg-blue-900 lg:max-w-md;
}

.clinics__list {
  @apply lg:grid lg:grid-cols-2 lg:grid-rows-2 lg:gap-4;
}
.clinics__list-item:first-child {
  @apply lg:row-span-2;
}
.clinics__list-item {
  @apply mb-4 ml-4;
}
.clinics__list-item h3 {
  @apply font-sora font-bold text-left text-[#203c89] text-xl mb-2 lg:text-2xl capitalize;
}
.clinics__list-item p {
  @apply mb-2 pl-8 flex items-center max-w-prose;
}
.clinics__list-item p:before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #203c89;
  border-radius: 50%;
  margin-right: 8px;
}

/* controls styles and media query in section 5 */

#sess5 {
  background: linear-gradient(to bottom, white 10%, #223b84 10%);
}
.sess5__wrapper {
  @apply px-8 pb-12 container mx-auto flex flex-col justify-center items-center;
}
.sess5__wrapper h2 {
  @apply font-sora text-center text-white text-3xl mt-16 mb-8 capitalize;
}
.sess5__wrapper h2 span {
  @apply text-[#ffc700] font-bold;
}

.stripe__floating {
  @apply bg-[#ffc700] py-6 px-4 text-left flex flex-col rounded-tr-2xl w-full lg:max-w-xl rounded-tl-2xl rounded-br-2xl;
}
.stripe__floating p {
  @apply font-sora font-medium mb-2 text-sm lg:max-w-lg;
}
.stripe__floating a.book__btn {
  @apply bg-[#0f2c64] text-sm self-end text-[#ffc700] text-center;
}
.office__item img {
  @apply rounded-lg w-[380px] h-[280px] object-cover object-center;
}

#sess6 {
  @apply mt-16 border-b-[12px] border-b-[#223b84];
}
.sess6__wrapper {
  @apply container mx-auto flex flex-col items-center justify-center gap-12 lg:flex-row;
}
.sess6__content {
  @apply w-full lg:max-w-xl;
}

.sess6__content h2 {
  @apply font-sora text-left text-[#27282c] text-3xl mb-6 lg:text-4xl capitalize px-8;
}

.sess6__content h2 span {
  @apply font-bold text-[#203c89];
}
.sess6__content p {
  @apply font-sora text-left text-[#27282c] mb-6 text-lg px-8;
}
.sess6__content img {
  @apply max-w-sm h-full lg:max-w-lg px-8;
}
.sess6__avatar img {
  @apply w-[320px];
}
.sess6__avatar {
  @apply hidden lg:block lg:max-w-md lg:h-full;
}
#artic1 {
  @apply container mx-auto py-8 px-8 flex flex-col;
}
.artic1__content {
  @apply mb-8 mx-auto flex flex-col items-center;
}
#artic1 h3 {
  @apply font-sora font-bold text-center text-[#203c89] text-5xl mb-2 capitalize py-12;
}
.artic1__content p {
  @apply font-sora text-center max-w-[45ch] text-[#27282c] mb-6 lg:max-w-[760px];
}
#artic1 a.book__btn {
  @apply max-w-max self-end mt-12;
}

.prize-box {
  @apply flex flex-col-reverse rounded-t-2xl w-[384px] h-[280px]
  rounded-b-2xl border-b-slate-100 border-b-2;
}
.prize-box img {
  @apply w-[380px] h-[280px] object-cover object-center rounded-t-2xl;
}
.prize-box h4 {
  @apply font-sora text-xs max-w-[384px] text-center bg-[#223b84] py-4 px-4 text-white  rounded-b-2xl shadow-2xl font-semibold;
}

#sess7 {
  @apply border-b-[12px] border-b-[#223b84];
}
.sess7__wrapper {
  @apply container mx-auto pt-8 pb-8 mb-4 font-sora px-8;
}
#sess7 h3 {
  @apply font-sora font-bold text-center text-[#203c89] text-5xl mb-2 capitalize py-12;
}

.news__item {
  @apply max-w-sm h-full pb-4 bg-[#fefefe];
}
.news__item h4 {
  @apply font-sora text-left text-[#27282c] py-4 px-4 font-semibold uppercase;
}
.news__item p {
  @apply font-sora text-xs text-left text-[#27282c] py-4 px-4 font-light;
}

.news__item img {
  @apply max-w-sm h-60 object-cover object-center;
}
.news__item-foot {
  @apply flex items-center justify-between shadow-xl;
}
.news__item-foot p:last-child {
  @apply text-[#203c89] font-medium;
}

#sess8 {
  @apply flex flex-col container mx-auto py-12 px-8;
}

.review__wrapper {
  @apply flex flex-col relative justify-center items-center;
}

.review__wrapper h3 {
  @apply font-sora font-bold text-center text-[#203c89] text-3xl mb-2 lg:text-4xl;
}
.review__wrapper p {
  @apply font-sora text-left text-[#27282c] mb-6 text-lg px-8;
}
.review__wrapper img {
  @apply w-[280px] h-full px-8;
}
.review__wrapper h4 {
  @apply absolute text-2xl font-bold font-sora bottom-[116px];
}

.review__list {
  @apply h-full;
}

.review__box {
  @apply bg-[#eee] shadow-xl w-[360px] px-4 py-4 rounded-xl flex flex-col items-center h-[240px];
}

.review__box-item {
  @apply flex flex-col-reverse items-center justify-center;
}
.review__box-item h3 {
  @apply text-lg font-sora font-medium text-gray-900 text-center py-6;
}
.review__box-item figcaption {
  @apply flex items-center justify-center;
}
.review__box-item img:first-child {
  @apply rounded-full w-9 h-9;
}
.review__box-item-name {
  @apply font-sora font-medium text-left px-3;
}

#sess8 a.book__btn {
  @apply max-w-max self-end mt-12;
}
