/* controls styles and media query in section 1 */

#sess1 {
  @apply bg-[url("../img/sess1-bg-mobile.webp")] h-[85vh] w-full bg-cover bg-top bg-no-repeat lg:bg-[url("../img/sess1-bg-desktop.webp")] py-8 px-8;
}

.sess1_wrapper {
  @apply pt-4 pb-8 px-4 bg-black bg-opacity-40 rounded-3xl mt-32 lg:bg-transparent lg:ml-32 lg:mt-32 container mx-auto;
}

.sess1_wrapper h1 {
  @apply text-3xl font-sora text-white max-w-md mb-8 font-bold lg:text-5xl lg:max-w-xl;
}
.sess1_wrapper h1 span {
  @apply text-yellow-500;
}

/* controls styles and media query in section 2 */
#sess2 {
  @apply container mx-auto py-16 relative h-full lg:pb-[460px];
}

.sess2__wrapper {
  @apply py-8 px-8 mx-8 rounded-2xl shadow-xl lg:absolute -top-12 bg-white z-20 lg:left-24 lg:max-w-6xl;
}
.sess2__wrapper h2 {
  @apply font-sora text-center text-[#203c89] text-2xl mb-8 lg:text-3xl;
}
.sess2__wrapper h2 span {
  @apply font-bold;
}
.sess2__content {
  @apply flex flex-col justify-center items-center gap-8 lg:flex-row;
}
.sess2__content p {
  @apply font-sora text-lg text-center w-64 h-64 pt-24 px-12;
}
.sess2__content p span {
  @apply font-bold;
}
.sess2__content p:first-child {
  @apply bg-[#ffc700] text-[#203c89] rounded-tr-xl rounded-tl-xl rounded-br-xl;
}
.sess2__content p:nth-child(2) {
  @apply bg-[#eee] text-[#203c89] rounded-tr-xl rounded-tl-xl rounded-br-xl;
}
.sess2__content p:last-child {
  @apply bg-[#203c89] text-white rounded-tr-xl rounded-tl-xl rounded-br-xl pt-16;
}

/* controls styles and media query in section 3 */
#sess3 {
  @apply container mx-auto py-8 px-8 mb-16;
}
#sess3 h2 {
  @apply font-sora text-center text-[#203c89] text-2xl mb-8 lg:text-3xl capitalize;
}
#sess3 h2 span {
  @apply font-bold;
}
.treatment__box {
  @apply w-[384px] h-[384px] py-4 px-6 font-sora font-light text-[#203c89] bg-[#eee] rounded-xl;
}
.treatment__box h3 {
  @apply font-semibold text-lg my-8 flex items-center;
}

.treatment_1:before {
  content: "";
  background: url("../img/protesis.svg") center center no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.treatment_2:before {
  content: "";
  background: url("../img/ortopediatry.svg") center center no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.treatment_3:before {
  content: "";
  background: url("../img/ortodonty.svg") center center no-repeat;
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
}
.splide__arrow {
  @apply hidden;
}

/* controls styles and media query in section 4 */

#sess4 {
  @apply flex flex-col container mx-auto pb-[360px] px-8 relative lg:flex-row lg:justify-end lg:pb-28;
}
.sess4__content {
  @apply lg:pl-16;
}
.sess4__content h2 {
  @apply font-sora font-bold text-left text-[#203c89] text-3xl mb-2 lg:text-4xl capitalize;
}
.sess4__content p {
  @apply font-sora text-left text-[#203c89] mb-8;
}

.clinic3d {
  @apply max-w-sm h-full object-contain absolute -bottom-96 lg:relative lg:-bottom-28 lg:max-w-2xl;
}

.clinics__list {
  @apply lg:grid grid-cols-2 justify-start items-start;
}
.clinics__list-item:first-child {
  @apply col-span-2;
}
.clinics__list-item {
  @apply mb-4;
}
.clinics__list-item h3 {
  @apply font-sora font-bold text-left text-[#203c89] text-xl mb-2 lg:text-2xl capitalize;
}
.clinics__list-item p {
  @apply mb-2 pl-8 flex items-center max-w-prose;
}
.clinics__list-item p:before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #203c89;
  border-radius: 50%;
  margin-right: 8px;
}

/* controls styles and media query in section 5 */

#sess5 {
  @apply bg-[#223b84] mt-20 rounded-3xl pt-28 pb-20;
}
.sess5__wrapper {
  @apply px-8 relative container mx-auto;
}
.sess5__wrapper h2 {
  @apply font-sora text-center text-white text-3xl mb-8 capitalize;
}
.sess5__wrapper h2 span {
  @apply text-[#ffc700] font-bold;
}

.stripe__floating {
  @apply bg-[#ffc700] py-6 px-4 text-center rounded-tr-2xl rounded-tl-2xl rounded-br-2xl absolute z-20 -top-40 mr-8 lg:max-w-4xl lg:flex lg:items-center lg:text-left lg:justify-between lg:left-[25%] lg:top-[-164px];
}
.stripe__floating p {
  @apply font-sora font-medium mb-6 text-sm lg:max-w-lg;
}
.stripe__floating a {
  @apply bg-[#0f2c64] text-[#ffc700] text-center;
}

.office__img {
  @apply w-[348px] h-[348px] object-cover object-center;
}

#sess6 {
  @apply mt-16 container mx-auto flex flex-col lg:flex-row items-center justify-center gap-12 border-b-[12px] border-b-[#223b84];
}
.sess6__content {
  @apply py-8 lg:max-w-xl;
}

.sess6__content h2 {
  @apply font-sora text-left text-[#27282c] text-3xl mb-6 lg:text-4xl capitalize px-8;
}

.sess6__content h2 span {
  @apply font-bold text-[#203c89];
}
.sess6__content p {
  @apply font-sora text-left text-[#27282c] mb-6 text-lg px-8;
}
.sess6__content img {
  @apply max-w-md h-full lg:max-w-lg px-8;
}

.sess6__avatar {
  @apply hidden lg:block lg:max-w-md lg:h-full;
}
#artic1 {
  @apply container mx-auto py-8 px-8 flex flex-col;
}
.artic1__content {
  @apply mb-8 mx-auto flex flex-col items-start justify-start;
}
#artic1 h3 {
  @apply font-sora font-bold text-left text-[#203c89] text-xl mb-2 lg:text-2xl capitalize;
}
.artic1__content p {
  @apply font-sora text-left max-w-[45ch] text-[#27282c] mb-6 text-lg lg:max-w-[760px];
}
.artic1__content a {
  @apply lg:max-w-max;
}

.prize__list {
}

.prize-box {
  @apply flex flex-col w-[348px] rounded-t-xl;
}
.prize-box img {
  @apply h-full object-cover object-center rounded-b-2xl;
}
.prize-box h4 {
  @apply font-sora text-center bg-[#223b84] py-4 px-4 text-white font-semibold rounded-t-2xl;
}
#sess7 {
  @apply py-8 container mx-auto font-sora px-8;
}
#sess7 h2 {
  @apply font-sora font-bold text-center text-[#203c89] text-5xl mb-2  capitalize py-12;
}

.news__item {
  @apply bg-[#fff] shadow-xl w-[360px];
}
.news__item h4 {
  @apply max-w-[360px] font-sora text-left text-[#27282c] py-4 px-4 font-semibold uppercase;
}
.news__item p {
  @apply max-w-[360px] font-sora text-xs text-left text-[#27282c] py-4 px-4 font-light;
}

.news__item img {
  @apply w-[360px] h-[280px] object-fill object-left-top;
}
.news__item-foot {
  @apply flex items-center justify-between;
}
.news__item-foot p:last-child {
  @apply text-[#203c89] font-medium;
}

#sess8 {
  @apply flex flex-col container mx-auto py-12 px-8;
}

.review__wrapper {
  @apply flex flex-col relative justify-center items-center;
}

.review__wrapper h3 {
  @apply font-sora font-bold text-center text-[#203c89] text-3xl mb-2 lg:text-4xl;
}
.review__wrapper p {
  @apply font-sora text-left text-[#27282c] mb-6 text-lg px-8;
}
.review__wrapper img {
  @apply w-[280px] h-full px-8;
}
.review__wrapper h4 {
  @apply absolute text-2xl font-bold font-sora bottom-[116px];
}
.review__box {
  @apply bg-[#eee] shadow-xl w-[360px] px-4 py-4 rounded-xl flex flex-col items-center;
}
.review__box p {
  @apply py-12 max-w-[30ch] text-center font-sora;
}
.review__box-name {
  @apply flex items-center gap-4 font-sora;
}
.review__box-name img {
  @apply w-12;
}
#sess8 a.book__btn {
  @apply max-w-max self-end mt-12;
}
